@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400&family=Source+Sans+Pro:wght@200;300;400&display=swap');
:root{
    --fontFamily: 'Source Sans Pro', sans-serif;
    --logo: 'Pacifico', cursive;
    --fontSize: 16px;
    --bg: #f4f4f4;
    
}
/***********
Basic stzles
***********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    background: var(--bg);
}
.container{
    width: 80%;
    margin: auto;
}
/***********
Header
***********/
header{
background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url(images/banner.jpg);
background-position: center;
background-size: cover;
height: 60vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
header h1{
    font-family: var(--logo);
    font-size: 6rem;
    color: white;
}
.underline{
    width: 33%;
    height: 2px;
    background:white;
    margin: 10px auto 50px auto;
}
header p{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    opacity: .7;
    letter-spacing: 4px;
}