@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@400;700&family=Roboto:wght@100;300;400&family=Source+Sans+Pro:wght@200;300;400&display=swap');
:root{
    --fontFamily: 'Raleway', sans-serif;
    --fontSize: 16px;
    --hover: #f44066;
    --accents: #f32853;
    --headings: #484848;
    --text: #666;
    --gray: #aaa;
}
body{
    font-family: var(--fontFamily);
    font-weight: 400;
    font-size: var(--fontSize);
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}